{% extends "base.html" %}

{% block content %}
  <h1>Redactors <a href="{% url 'newspaper:redactor-create' %}" class="btn btn-primary float-right">Create New</a></h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>Years of Experience</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for redactor in redactor_list %}
      <tr>
        <td>{{ redactor.id }}</td>
        <td>{{ redactor.username }}</td>
        <td>{{ redactor.email }}</td>
        <td>{{ redactor.years_of_experience }}</td>
        <td>
          <a href="{% url 'newspaper:redactor-update' redactor.id %}" class="btn btn-sm btn-primary">Update</a>
          <a href="{% url 'newspaper:redactor-delete' redactor.id %}" class="btn btn-sm btn-danger">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
